.container-televerser {
    align-items: center;
    display: flex;
    gap: 0;
    justify-content: center;
    margin-top: 60px;
}

#fichier-select {
    margin-right: 0px;
    padding: 5px;
    padding-right: 220px;

}

#upload-form {
    display: flex;
    align-items: center;
}

#file-input {
    display: none;
}

#televerser-btn {
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-resultat {
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}