.container-televerser {
    align-items: center;
    display: flex;
    gap: 0;
    justify-content: center;
    margin-top: 60px;
}

#fichier-select {
    margin-right: 0px;
    padding: 7px;
    padding-right: 220px;
    border-radius: 0;
    background-color: white;
}

#upload-form {
    align-items: center;
}

#file-input {
    display: none;
}

#televerser-btn {
    margin: 0;
    padding: 7px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
}